:global{
    .ant-layout{
        height: 100vh;
        overflow: hidden;
    }
    .ant-layout-header{
        background: yellow!important;
    }
    .ant-layout-sider{
        background: #fff;
        border-right: 1px solid #eee;
        max-width: 400px!important;
        min-width: 400px!important;
        padding: 10px!important;
    }
    .ant-layout-has-sider{
        height: 84vh!important;
        background: #fff!important;
    }
}
.fileSearch{
    display: flex;
    align-items: center;
    .fileInput{
        max-width: 300px;
        width: 300px;
    }
    .fileButton{
        margin-left: 10px;
    }
}